Versie 0.5/SLD Uitwisselberichten/XSDs en voorbeeld berichten/dssld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2012-2023 TNO Geologische Dienst Nederland
    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.
    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.
-->
<wsdl:definitions name="dssld"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:sldcom="http://www.broservices.nl/xsd/sldcommon/1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:msg="http://www.broservices.nl/xsd/dssld/1.0"
                  xmlns:tns="http://www.broservices.nl/wsdl/dssld/1.0"
                  targetNamespace="http://www.broservices.nl/wsdl/dssld/1.0">

    <wsdl:documentation>
        This WSDL defines the webservice for the sld intake webservice (SoilLegalDecision)
        in the context of the base registry subsurface (Basisregistratie Ondergrond).
        This is version 1.0.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/dssld/1.0" targetNamespace="http://www.broservices.nl/wsdl/dssld/1.0">
            <!--
            <xsd:import namespace="http://www.broservices.nl/xsd/dssld/1.0" schemaLocation="https://schema.broservices.nl/xsd/dssld/1.0/dssld-messages.xsd"/>
            -->
            <xsd:import namespace="http://www.broservices.nl/xsd/dssld/1.0" schemaLocation="../schema/dssld-messages.xsd"/>
            <!--
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
            -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="dispatchDataRequest">
        <wsdl:part element="msg:dispatchDataRequest" name="request"/>
    </wsdl:message>

    <wsdl:message name="dispatchDataResponse">
        <wsdl:part element="msg:dispatchDataResponse" name="response"/>
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part element="msg:parseFault" name="parseFault"/>
    </wsdl:message>

    <wsdl:message name="DeliveryResponsiblePartyHeader">
        <wsdl:part name="deliveryResponsibleParty" element="sldcom:deliveryResponsibleParty" />
    </wsdl:message>

    <wsdl:portType name="dssld">
        <wsdl:operation name="dispatchData">
            <wsdl:input message="tns:dispatchDataRequest" wsam:Action="http://www.broservices.nl/wus/dssld/dispatchDataRequest"/>
            <wsdl:output message="tns:dispatchDataResponse" wsam:Action="http://www.broservices.nl/wus/dssld/dispatchDataResponse"/>
            <wsdl:fault message="tns:parseSoapFault" name="parsefault" wsam:Action="http://www.broservices.nl/wus/dssld/parseSoapFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="dssld_SOAP" type="tns:dssld">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="dispatchData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parsefault">
                <soap:fault use="literal" name="parsefault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="dssld">
        <wsdl:port name="dssld_SOAP" binding="tns:dssld_SOAP">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
